<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <meta charset="UTF-8">
    <title>学生详情信息</title>
</head>
<body>
{{ ranking_infos }}
{{ exam_infos }}



<div style="width: 60%;height: 40%">
    <canvas id="myChart"></canvas>
</div>


<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var tempData = JSON.parse({{ exam_infos }})
    var rank = JSON.parse({{ ranking_infos }})
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: tempData,
            datasets: [{
                label: '分数',
                data: rank,
                backgroundColor: [],
                borderColor: [],
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

</body>
</html>