{% extends "base.html" %}
{% block body %}
    <table class="table table-bordered">
        {% if data_list %}
            <h1>{{ name }}成绩汇总表</h1>
            <thead>
            <tr>
                <th scope="col">姓名</th>
                {% for exam in exam_list %}
                    <th scope="col">{{ exam.name }}进退步</th>
                {% endfor %}
            </tr>
            </thead>
            {% for i in data_list %}
                <tbody>
                <tr>
                    <th scope="row">{{ i.name }}</th>
                    {% for info in i.score %}
                        <th scope="row" title="{{ i.name }}分数：{{ info.2 }}">{{ info.0 }}</th>
                        <th>({{ info.1 }})</th>
                    {% endfor %}
                </tbody>
            {% endfor %}
        {% else %}
            没有数据
        {% endif %}

    </table>
{% endblock %}