{% extends 'base.html' %}
{% block body %}
    <table class="table table-bordered">

        {% if data_list %}
            <h1>{{ exam_name }}</h1>
            <thead>
            <tr>
                <th scope="col">名次</th>
                <th scope="col">姓名</th>
                <th scope="col">考号</th>
                <th scope="col">班级</th>

                <th scope="col">语文</th>
                <th scope="col">数学</th>
                <th scope="col">英语</th>


                <th scope="col">政治</th>
                <th scope="col">历史</th>
                <th scope="col">地理</th>

                <th scope="col">物理</th>
                <th scope="col">化学</th>
                <th scope="col">生物</th>

                <th scope="col">总分</th>
            </tr>
            </thead>
            {% for i in data_list %}
                <tbody>
                <tr>
                    <th scope="row">{{ i.ranking }}</th>
                    <td><a class="btn btn-link" href="{% url 'student:student-details' i.student.uuid %}" role="button">{{ i.student.name }}</a></td>
                    <td>{{ i.candidate_number }}</td>
                    <td>{{ i.grade }}</td>

                    <td>{{ i.chinese }}</td>
                    <td>{{ i.math }}</td>
                    <td>{{ i.english }}</td>


                    <td>{{ i.politics }}</td>
                    <td>{{ i.history }}</td>
                    <td>{{ i.biology }}</td>

                    <td>{{ i.physics }}</td>
                    <td>{{ i.chemistry }}</td>
                    <td>{{ i.geography }}</td>

                    <td>{{ i.total_score }}</td>

                </tbody>
            {% endfor %}
        {% else %}
            <p>没有数据
        {% endif %}

    </table>
{% endblock %}